### String Functions
- upper() -- will convert the input string into Upper Case
- lower() -- will convert the input string into Lower Case

In [1]:
s1 = 'Python'
print(s1.upper())
print(s1.lower())

PYTHON
python

### String Boolean Function
- True or False
- islower() -- True if the string have all characters lower case
- isupper() -- True if the string have all characters upper case
- istitle() -- True if the string in title case
- isnumeric() -- True if the string numeric
- isalpha() -- True if the string only alphabets
- isspace() -- True if the string is empty

In [2]:
s1 = 'python'
print(s1.islower())
print(s1.isupper())

True
False

In [3]:
s1 = 'Python Programming'
print(s1.istitle())

True

In [4]:
s1 = '1234567'
s2 = 'py123'
print(s1.isnumeric())
print(s2.isnumeric())

True
False

In [6]:
s1 = '123344'
s2 = 'python'
s3 = 'py123'
print(s1.isalpha())
print(s2.isalpha())
print(s3.isalpha())

False
True
False

In [9]:
s1 = ' '
s2 = '1 3 4 '
print(s1.isspace())
print(s2.isspace())

True
False

### String Methods
- split() : Returns the list of strings seperated by whitespace
- replace() : return the string replaces by  word/character
- join() : Concatination of the two strings

In [10]:
s1 =  "Python Programming Learn Made Easy"
li= s1.split() # Default is white space
print(li)

['Python', 'Programming', 'Learn', 'Made', 'Easy']

In [14]:
s1 = "Pyhton Programming Learn Made Easy"
li = s1.split('a')
print(li)

['Pyhton Progr', 'mming Le', 'rn M', 'de E', 'sy']

In [23]:
s1 = "Python Programming Learn Made Easy"
print(s1.replace(" ",'-'))

Python-Programming-Learn-Made-Easy

In [18]:
s1 = 'Python Programming Learn Made Easy'
print(s1.replace('a','@'))

Python Progr@mming Le@rn M@de E@sy

In [24]:
s1 = 'Python'
print("-".join(s1))
print(' '.join(s1))

P-y-t-h-o-n
P y t h o n

## String Formatting
- classic Version
- Current Version Python

In [25]:
# Classic Version (c or c++)
li = ["Python","Programming"]
print('%s %s'%(li[0],li[1]))

Python Programming

In [27]:
li = [1,2,3,4]
print('%d %d %d %d' % (li[0],li[1],li[2],li[3]))

1 2 3 4

In [28]:
# .format
li = ["python",'Programming']
print("List Item 0 : {0} \nList Item 1 : {1}" .format(li[0],li[1]))

List Item 0 : python
List Item 1 : Programming

In [33]:
li = [1,2,3,4]
print('{0} {1} {2} {3}'.format(li[0],li[1],li[2],li[3]))

1 2 3 4

### Data Structures
- List
- Tuples
- Dictionaries

 ### Dictionaries
 - It works on Concept of unique Data
 - Key,value is the unique identifier a value
 - Each key is Seperated from Value colon(:)
 - Each Key and Value is seperrated by coma(,)
 - Dictomaries are enclosed with only curly Braces({})

In [35]:
d1 = {"Name":"Gitam","EmailId":"gitamvizag@gmail.com","Address":"Vizag"}
print(d1)

{'Name': 'Gitam', 'EmailId': 'gitamvizag@gmail.com', 'Address': 'Vizag'}

In [37]:
d1["EmailId"] # Access the Specific Key Value

'gitamvizag@gmail.com'

In [42]:
d1["EmailId"] = "Gitam@hotmail.com" # Update the value using key

In [39]:
d1["EmailId"]

'Gitam@hotmail.com'

In [45]:
d1.keys() # All the keys of Dict Objects

dict_keys(['Name', 'EmailId', 'Address'])

In [48]:
li = d1.keys()
print(li)

dict_keys(['Name', 'EmailId', 'Address'])

In [44]:
d1.values() # All the valules of Dict Objects

dict_values(['Gitam', 'Gitam@hotmail.com', 'Vizag'])

In [ ]:
del d1['EmailId'] # Only deletes one key and value

In [49]:
d1 # delete entire the Dic object

{'Name': 'Gitam', 'EmailId': 'Gitam@hotmail.com', 'Address': 'Vizag'}

In [50]:
del d1

In [51]:
d1

NameError: name 'd1' is not defined

### Contact Appilication
- Add contact details
- Search the contact details
- List the Contacts Merge/Import
   - Name 1 = Value
   - Name 2 = Value
- Modify Update the Contact detail
- Delete the Contact detail

In [54]:
contacts = {} # Empty Dict Objects
# Lets create a function to Add contact details
def addContact(name,phone):
    if name not in contacts: # condition to check is exists or not
        contacts[name] = phone
        print('Contact Details are added successfully')
    else:
        print('Name is already exists')
    
    return
addContact('Ashish','1234567889')
addContact('shiah','98765433')
addContact('Ashish','1234567889')

Contact Details are added successfully
Contact Details are added successfully
Name is already exists

In [55]:
contacts

{'Ashish': '1234567889', 'shiah': '98765433'}

In [86]:
def searchContact(name):
    if name in contacts:
        print(name," : ",contacts[name])
    else:
        print('{0} does not present'.format(name))
        #print(%s does not present'% name)
        
    return 
searchContact('Ashish')
searchContact('Gitam')
searchContact('shiah')

Ashish  :  1234567889
Gitam  :  9866082890
shiah  :  98765433

In [73]:
# Input new contact details
# Merge the previous details with new details 
def importContacts(newContacts):
    contacts.update(newContacts)
    print(len(newContacts.keys()),'Contacts ae added')
        
    return
newContacts = {'Gitam':9866082890,'Akhil':1234545,'Python':3345455655}
importContacts(newContacts)

3 Contacts ae added

In [74]:
contacts

{'Ashish': '1234567889',
 'shiah': '98765433',
 'Gitam': 9866082890,
 'Akhil': 1234545,
 'Python': 3345455655}

In [91]:
def modifyContacts(name,phone):
    if name in contacts:
        contacts[name]= phone
        print(name,'Updated Succesfully')
    else:
        print(name,'Not Exited')
    return
modifyContacts('Ashish',123456788878493899)
modifyContacts('naveed',7772882828928)

Ashish Updated Succesfully
naveed Not Exited

In [93]:
def deleteContact(name):
    if name in contacts:
        del contacts[name]
        print(name,'Deleted Succesfully')
    else:
        print(name,'Not present')
    
    return
deleteContact('Ashish')
deleteContact('sahid')

Ashish Not present
sahid Not present

In [95]:
contacts

{'shiah': '98765433',
 'Gitam': 9866082890,
 'Akhil': 1234545,
 'Python': 3345455655}

## Tuples
- Tuples enclosed with Paranthesis()

## Differences between Tuples and List
       - List are mutable -- can be changed / modify
           - Read and Write the Data
       - Tuples are immutable -- can't be changed / modified
           - Read Data Only

In [101]:
t1 = (1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [102]:
print(t1[-1:2])

()

## Standard Expressions
- Regular Expressions
  - To validate the Indian Mobile
  - To validate the EmailIdd
  - To validate the Username
  - To validate the Password
- Understanding the  Regular Expressions
   - [0-9]  -- Any digit Matching
   - [a-z]  -- Any lower case Matching
   - [A-Z]  -- Any upper case Matching
   - cap Symbol is used to represent the start of Regular Expression
   - Dollor Symbol is used to represnt the end od Regular Expression

In [103]:
# Function to test the two digit number as input
# True -- Input the digit nu\mber
# False -- Input not a two digit number
import re
def twoDigitMatching(n):
    pattern = '^[0-9]{2}$'
    n = str(n) # str() converts input into str format
    if re.match(pattern,n):
        return True
    return False
print(twoDigitMatching(12))  # True
print(twoDigitMatching(123)) # False

True
False

In [105]:
# Regular Expression for Username
# Username --- Should contains Lower and upper case characters
# Length -- Min 5 Max 12
def validateUsername(s):
    pattern = '^[a-zA-Z]{4,11}$'
    if re.match(pattern,s):
        
        return True
    return False
print(validateUsername('mahanti')) # True
print(validateUsername('aashishmahanti')) # False
print(validateUsername('gitam university progrraming')) # false

True
False
False

### Regular Expression
- Regular Expression for RollNumber
- Example : 1521A0501 # Valid
- Example : 1621A0574 # Not Valid
- Regular Expression for Password
- Parameters - Len Min 6 Max 10
- Accept Lower case, upper case ,Digits and Spl (@,!,#)
- Example : Pass123@21 # Valid
- Example : Pass12*21 # Not Valid

## Regular Expressions For Indian mobile
 - 10 Digit Number
  - First Number si start from [6-9]
  - Rest of 9 numbers is between [0-9]
      - Example : 9851741520 # True
      - Example : 5463873839 # False
  - 11 Digit Number
    - First Number can be 0
    - Second Number can be [6-9]
    - Rest of 9 numbers is between [0-9] 
       - Example : 09878373873 # True
       - Example : 88389383838 # False
  - 13 Digit Number
    - First Number can be +
    - Second Number  be 9
    - Third Number be 1
    - Fourth Number be [6-9]
    - Fifth Number be [0-9]

In [ ]:
# Rule Number 1 :  ^[6-9][0-9]{9}$
# Rule NUmber 2 :  ^0[6-9][0-9]{9}$
# Rule Number 3 :  ^[+][9][1][6-9][0-9]{9}$

In [121]:
import re
def validateIndianNumber(n):
    pattern = '^[6-9][0-9]{9}$ |^0[6-9][0-9]{9}$|^[+][9][1][6-9][0-9]{9}$'
    n = str(n)
    if re.match(pattern,n):
        return True
    return False
validateIndianNumber('+919866082890') # True

True

### Validate the EmailId
- Example : Username@DomainName.extension
- Example : dsps@gmail.com
- Username:
    - Len of string will be [6-15]
    - No spl characters except underscore(_) and dot(.)
    - Username should not begins with Underscore(_)
    - All characters set Digits, Lower case and Upper case
       - Exxample : Anil_1889
- DomianinName: 
   - Len of string will be [3-18]
   - No spls charactersd
   - Characters set will be Digits Lower Case and upper case
       - Example : gamil,hotmail,ymail,rediff and  etc...
- Extensions:
    - Len of the string will be [2-4]
    - No spl characters allowed
    - Characters set will Lower case characters 
         -  Example : com in au uk

In [ ]:
# User name RE :[0-9a-zA-Z][0-9a-zA-Z_.]{5,14}
# Domain Name RE : [a-z0-9]{3,18}
# Extension RE :  [a-z]{2,4}
# EmailId  RE : ^[0-9a-zA-Z][0-9a-zA-Z_.]{5,14} [a-z0-9]{3,18}[a-z]{2,4}$

In [125]:
def validateEmail(email):
    pattern = '^[0-9a-zA-Z][0-9a-zA-Z_.]{5,14}[@][a-z0-9]{3,18}[.][a-z]{2,4}$'
    if re.match(pattern,email):
        return True
    return False
validateEmail('mahanti@gmail.com')

True

### Python Graphics
- Lib - turtle

### Package, Module and Sub Package
### Package 
  - A collection of Modules(Single Python file .py)
### Module
  - A single Python file contains group of function
  - Packages ->  Sub packages - > Modules  - > Functions -> Statements
  - import keyword is used to import the external lib packages into the python program

In [126]:
import math   # Imports all the funcion into Python program
math.floor(123.456)

123

In [128]:
math.ceil(123.456)

124

In [131]:
from math import factorial as fact# imports only fucntion from the entire lib
# Import only specific funciton
# as fact alias name
fact(10)

3628800

In [130]:
from math import gcd as gcd
gcd(10,15)

5

In [138]:
# Import random package 
import random
# Function to generate the N Numbers in given range
def generateRandom(n,lb,ub):
    for i in range(0,n):
        print(random.randint(lb,ub),end=' ')
    return
generateRandom(10,0,100)

42 95 59 28 40 52 94 20 67 22

In [ ]:
# Create a single game
# Try to generate 20 numbers
# Input : Number
# present : Congrats!!!
# Not Present : Try again

In [168]:
from random import randint as rdint    # Alias name for radint()
def generateNumber(n,lb,ub):
    li = []
    for i in range(0,n):
        li.append(rdint(lb,ub))
    return li
def check(n):
    li = generateNumber(5,0,10)
    print(li)
    if n in li:
        print('Congrats')  # if the input is present then output will be congrts
    else:
        print('Try again') # otherwise try agian message will be displayed
    return
check(1)

[6, 2, 1, 8, 3]
Congrats

In [169]:
def generateNumber(n,lb,ub):
    li = []
    for i in range(0,n):
        li.append(rdint(lb,ub))
    return li
generateNumber(5,0,10)

[1, 4, 1, 9, 7]

In [170]:
# Draw a line using Turtle Graphics
#import the package turtle
#All the commands available in this file
import turtle
# Create a new turtle
a1 = turtle.Turtle()
# position
a1.goto(0,0)
# Draw a line
a1.forward(250)
# done() -- Close the window
turtle.done()

In [ ]:
import turtle as tt
a1 = tt.Turtle()
a1.backward(150)
a1.circle(90)
a1.forward(150)
a1.backward(300)
tt.done

In [ ]:
import turtle as tt
a1 tt.turtle()
a1.backward(150)
tt.done

In [ ]:
import turtle as tt
a1 = tt.Turtle()
a1.forward(150)
a1.right(90)
a1.forward(150)
a1.right(90)
a1.forward(150)
a1.right(90)
a1.forward(150)
a1.right(90)
tt.done()

# generate the Square Using forward and right methods of Turtle Package

In [ ]:
import turtle as t
a1 = t.Turtle()
for i in range(40):
    a1.forward(150)
    a1.right(144)
tt.done()

In [ ]:
import turtle as t
a1 = t.Turtle()
for i in range(4):
    a1.forward(150)
    a1.right(90)
tt.done